
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bookstore{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Bookstore</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'book_detail' book.id %}">Book Detail</a></li>
                <li><a href="{% url 'order_create' %}">Create Order</a></li>
                <li><a href="{% url 'order_detail' order.id %}">Order Detail</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <h1>
            hi
        </h1>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Bookstore. All rights reserved.</p>
    </footer>
</body>
</html>
